<!DOCTYPE html>
<html lang="pt-Br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/stilo.css">
<title>Hospitalar</title>
</head>
<body>
<nav class="container navbar navbar-expand-sm bg-dark navbar-light"><!--Iniciar menu-->
	<div class="container">
		<button class="navbar-toggler "data-toggle="collapse" data-target="#navbarsupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsupportedContent">
			<ul class="navbar-nav ml-auto mr-auto">
				<li><a href="#" class="nav-link">Home</a></li>
				<li><a href="#" class="nav-link">Hospitais</a></li>
				<li><a href="#" class="nav-link">Tipos de Hospitais</a></li>
				<li class="dropdown">
					<a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">Gerenciar Hospitais</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#" class="dropdown-item">Inserir Hospitais</a>
						</li>
						<li class="dropdown-divider"></li>
						<li>
							<a href="#" class="dropdown-item">Editar Hospitais</a>
						</li>
						<li class="dropdown-divider"></li>
						<li>
							<a href="#" class="dropdown-item">Excluir Hospitais</a>
						</li>
					</ul>
				</li>
				<li><a href="#" class="nav-link">Registro</a></li>
				<li><a href="#" class="nav-link">Logim</a></li>
			</ul>
		</div><!--fim collapse-->
	</div><!--fim container-->
</nav><!--Fim menu-->
<main>
	<section class="container jumbotron"><!--Iniciar Titulo-->
		<form class="input-group">
			<input class="form-control" type="search" placeholder="Busque aqui">
			<button class="btn btn-primary ml-1">Pesquisar</button>
		</form>
	</section><!--Fim do Titulo-->
	<section class="container"><!--Iniciar Adicionados-->
		<h6 class="text-center">
			Adicionados Recentemente
		</h6>
		<div class="row text-center">
			<a href="#" class="col-lg-3 col-sm-6 col-md-4">
				<figure>
					<img src="/static/img/hosp.jpg" alt="" class="img-fluid img-thumbnail">
					<figcaption class="text-center">
						Hospital número um em atendimento
					</figcaption>
				</figure>
				
			</a>
			<a href="#" class="col-lg-3 col-sm-6 col-md-4">
				<figure>
					<img src="/static/img/enfer.jpg" alt="" class="img-fluid img-thumbnail">
					<figcaption class="text-center">
						Enfermeiro chefe
					</figcaption>
				</figure>
				
			</a>
			<a href="#" class="col-lg-3 col-sm-6 col-md-4">
				<figure>
					<img src="/static/img/Vasco14.jpg" alt="" class="img-fluid img-thumbnail">
					<figcaption class="text-center">
						Trem Bala da Colina
					</figcaption>
				</figure>
				
			</a>
			<a href="#" class="col-lg-3 col-sm-6 col-md-4">
				<figure>
					<img src="/static/img/teste.jpg" alt="" class="img-fluid img-thumbnail">
					<figcaption class="text-center">
						Eleições 2020
					</figcaption>
				</figure>
				
			</a>	
		</div>
		
	</section><!--Fim do Adcionados-->
	<section><!--inicio de Video-->
		<div class="container"><!--inicio container video-->
			<h3 class="text-center mb-3">
				Nosos Vídeos	
			</h3>
			<div class="row d-flex"><!--inicio linha-->
				<figure class="col-lg-3 ">
					<iframe src="https://www.youtube.com/embed/RX8TTkPici0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</figure>
				<div class="col-lg-3">
					<article class="ml-3 text-justify">
						Artilheiro do Vasco em 2020 com 12 bolas na rede, três no Campeonato Brasileiro, o atacante argentino buscará ampliar sua marca nesta quarta-feira (2), contra o Santos, às 21h30, na Vila Belmiro
					</article>
				</div>
				<figure class="col-lg-3">
					<iframe src="https://www.youtube.com/embed/C01i5w55lq4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</figure>
				<div class="col-lg-3">
					<article class="ml-3 text-justify">
						Artilheiro do Vasco em 2020 com 12 bolas na rede, três no Campeonato Brasileiro, o atacante argentino buscará ampliar sua marca nesta quarta-feira (2), contra o Santos, às 21h30, na Vila Belmiro
					</article>
				</div>
				
			</div><!--fim linha-->
		</div><!--fim container video-->
	</section><!--Fim de Video-->
	<section class=" container avaliado bg-dark mt-4"><!--Iniciar Avaliados-->
		<div class="container"><!--inicio container-->
			<div class="row d-flex"><!--inicio linha-->
				<div class="col-lg-6 text-center mt-4">
					<h1>
						Melhor Avaliado
					</h1>
					<article>
						Este hospital foi avaliado por mais de 1000 usuários.
					</article>
					<button class="btn btn-primary mt-4">
						Avaliar
					</button>	
				</div>
					<div class="col-lg-6">
						<a href="#">
							<figure class="mt-4 text-center">
								<img src="/static/img/hosp3.jpg" alt="" class="img-fluid img-thumbnail">
								<figcaption>
									Melhor Hospital
								</figcaption>
							</figure>
						</a>
				</div>	
			</div><!--fim linha-->	
		</div><!--fim container-->
		
	</section><!--Fim do Avaliados-->
	<section class="container"><!--Iniciar Equipe-->
		<h2 class="text-center mt-3 mb-3">
			Equipe Médica
		</h2>
		<div class="row"><!--inicio da linha-->
			<div class="media col-lg-6 col-sm-6"><!--inicio media-->
				<img src="/static/img/amor.jpg" alt="Flavia" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Flavia
					</h3>
					<article>
						"Se a raiz forte, arvore sobrevive" "faixa só serve para segurar calças" "Não existe mau aluno, só mau professor" "se vem de dentro de você é sempre certo"
					</article>
				</div>	
			</div><!--fim media-->
			<div class="media col-lg-6 col-sm-6"><!--inicio media-->
				<img src="/static/img/noisdois.jpg" alt="Minha" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Curtindo
					</h3>
					<article>
						"Se a raiz forte, arvore sobrevive" "faixa só serve para segurar calças" "Não existe mau aluno, só mau professor" "se vem de dentro de você é sempre certo"
					</article>
				</div>	
			</div><!--fim media-->
			<div class="media col-lg-6 col-sm-6"><!--inicio media-->
				<img src="/static/img/bruce_lee.jpg" alt="Lutador" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Mestre
					</h3>
					<article>
						"Se a raiz forte, arvore sobrevive" "faixa só serve para segurar calças" "Não existe mau aluno, só mau professor" "se vem de dentro de você é sempre certo"
					</article>
				</div>	
			</div><!--fim media-->
			<div class="media col-lg-6 col-sm-6"><!--inicio media-->
				<img src="/static/img/eueamor.jpg" alt="casal" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Casal
					</h3>
					<article>
						"Se a raiz forte, arvore sobrevive" "faixa só serve para segurar calças" "Não existe mau aluno, só mau professor" "se vem de dentro de você é sempre certo"
					</article>
				</div>	
			</div><!--fim media-->
			<div class="media col-lg-6 col-sm-6"><!--inicio media-->
				<img src="/static/img/silvioefaca.jpg" alt="Torre" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Torre
					</h3>
					<article>
						"Se a raiz forte, arvore sobrevive" "faixa só serve para segurar calças" "Não existe mau aluno, só mau professor" "se vem de dentro de você é sempre certo"
					</article>
				</div>	
			</div><!--fim media-->
			<div class="media col-lg-6 col-sm-6"><!--inicio media-->
				<img src="/static/img/pairone.jpg" alt="Niver no BS" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Aniversário
					</h3>
					<article>
						"Se a raiz forte, arvore sobrevive" "faixa só serve para segurar calças" "Não existe mau aluno, só mau professor" "se vem de dentro de você é sempre certo"
					</article>
				</div>	
			</div><!--fim media-->

			
		</div><!--Fim de Linha-->
	</section><!--Fim do Equipe-->
</main>

	<section class="especialidade container mt-4"><!--inicio de Especialidades-->
		<div class="row"><!--Incio de Linha-->
			<div class="col-md-4"><!--Coluna01-->
					<div class="card text-center"><!--card-->
						<h3 class="card-header">Especialidade 1</h3>
						<div class="card-body">
							<p class="text-justify">
								"Não importa quem é mais forte, mas o mais inteligente" "para pessoas se amor no coração, viver é pior que cartigo"
							</p>						
							<button class="btn btn-danger mt-4">
								Ver aqui!
							</button>
						</div>
					</div><!--fim Card-->	
			</div><!--Fim de Coluna-->
			<div class="col-md-4"><!--Coluna02-->
				<div class="card text-center"><!--card-->
					<h3 class="card-header">Especialidade 2</h3>
					<div class="card-body">
						<p class="text-justify">
							"Não importa quem é mais forte, mas o mais inteligente" "para pessoas se amor no coração, viver é pior que cartigo"
						</p>
						<button class="btn btn-danger mt-4">
							Ver aqui!
						</button>
					</div>
				</div><!--fim Card-->	
			</div><!--Fim de Coluna-->
			<div class="col-md-4"><!--Coluna03-->
				<div class="card text-center"><!--card-->
					<h3 class="card-header">Especialidade 3</h3>
					<div class="card-body">
						<p class="text-justify">
							"Não importa quem é mais forte, mas o mais inteligente" "para pessoas se amor no coração, viver é pior que cartigo"
						</p>
						<button class="btn btn-danger mt-4">
							Ver aqui!
						</button>
					</div>
				</div><!--fim Card-->	
			</div><!--Fim de Coluna-->
		</div><!--fim de linha-->		
	</section><!--fim de Especialidades-->

	<footer class=" container mt-4 bg-danger"><!--inicio do rodapé-->
		<div class="container d-flex justify-content-between"><!--inicio de Conteine-->
			<span class="copy mt-4">
				Copyright 2020
			</span>

			<ul class="mt-2 navbar incone">
				<li><a href="https://github.com/" class="text-hide">GitHub</a></li>
				<li><a href="https://www.google.com/" class="text-hide">Google Plus</a></li>
				<li><a href="https://br.linkedin.com/" class="text-hide">Linkedin</a></li>
				<li><a href="https://www.facebook.com/" class="text-hide">Facebook</a></li>
			</ul>	
		</div><!--fim de conteine-->	
	</footer><!--fim do rodapé-->

<script src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>